:root {
  font-family: 'Montserrat', 'sans-serif';
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  --clr-light-1: #c2c0c9;
  --clr-light-2: #706f7b;
  --clr-black: #010313;
  --hover-1: #5d91aa;

  --bg-grey-1: #efeef6;
  --bg-grey-2: #d4d2df;

  /* Font sizes */
  --fs-300: 0.85rem;
  --fs-normal: 1rem;
  --fs-500: 1.15rem;
  --fs-600: 1.75rem;
  --fs-700: 1.85rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;
}


/* Reset */

@media screen and (min-width: 40em) {
  :root {
    /* --fs-default: 1rem;
    --fs-500: 1.15rem;
    --fs-600: 1.75rem;
    --fs-700: 1.85rem;
    --fs-800: 2rem;
    --fs-900: 2.5rem; */
  }
}

/* Margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

/* Visuals */
button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

ul,
li {
  padding: unset;
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* Accessibility */
@media (prefers-reduced-motion: reduce) {

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

body {
  height: 100vh;
  overflow-x: hidden;
  color: var(--clr-black);
}

.flow>*+* {
  margin-top: var(--flow-margin, 1rem);
}

.fs-normal {
  font-size: var(--fs-normal);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.fs-300 {
  font-size: var(--fs-300);
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}


.text-light-1 {
  color: var(--clr-light-1)
}

.text-light-2 {
  color: var(--clr-light-2);
}

.text-black {
  color: var(--clr-black)
}

.align-start {
  place-self: start;
}

.align-center {
  place-self: center;
}

.relative {
  position: relative;
}

.uppercase {
  text-transform: uppercase;
}